body {
  font-family: "Poppins", sans-serif;
  background: #f7f9fc;
  color: #222;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
